NODE_ENV="development"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/noobmeter"
NEXTAUTH_SECRET="secret"
AUTH_GITHUB_ID="github"
AUTH_GITHUB_SECRET="github"
AUTH_GITLAB_ID="gitlab"
AUTH_GITLAB_SECRET="gitlab"
GOOGLE_GENERATIVE_AI_API_KEY="gemini_key"
